<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--
		<bean id="pizzaRepository"
		class="pizzax.repository.mock.PizzaRepositoryMock"> <property
		name="validator" ref="pizzaValidator" /> </bean>
	-->

	<bean id="application" class="pizzax.ApplicationCoordinator">
		<property name="pizzaCrudController" ref="pizzaCrudController" />
	</bean>
	
	<bean id="pizzaCrudController" class="pizzax.control.PizzaCrudController">
		<property name="pizzaRepository" ref="pizzaRepository" />
		<property name="pizzaValidator" ref="pizzaValidator" />
		<property name="pizzaListModel" ref="pizzaListModel" />
	</bean>

	<bean id="pizzaListModel" class="pizzax.control.PizzaListModel">
		<property name="pizzaRepository" ref="pizzaRepository" />
	</bean>

	<bean id="pizzaRepository" class="pizzax.repository.jdbc.PizzaRepositoryJdbc">
		<property name="validator" ref="pizzaValidator" />
		<property name="dataSource" ref="dataSource" />  
	</bean>
	
	<bean id="pizzaValidator" class="pizzax.validation.DefaultPizzaValidator">
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.user}" />
		<property name="password" value="${db.pw}" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>build.properties</value>
			</list>
		</property>
	</bean>
	
</beans>